.brand-header{
    margin-bottom:60px;

    .inner-wrapper{
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap:wrap;
        gap:30px;
    }

    h1 {
        margin-bottom:0;
    }

    .brand-logo-links {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .brand-logo-link {
        max-width: 115px;
    }
    #trs {
        .brand-logo-link {
            max-width: 100px;
        }
    }
    @include mobile{
        .brand-logo-links {
            gap: 0;
        }
        .brand-logo-link {
            margin-right: 20px;
        }
    }
}

