#home-hero{
    padding:0;
    overflow:hidden;
    position: static;
    .hero-image-container {
        margin-left: 50vw;
        height: calc(100vh - 182px);

      
        img {
            margin-top: 70px;
        }
        @include tablet {
            display: none;
        }
    }
    .hero-video-container {
        display: none;
        height: 100vh;
        min-height: 900px;
        @include tablet {
            display: block;
        }
        video {
            display: none;
            width: 133vw;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            @include tablet {
                display: block;
            }
        }
    }   
    .hero-content{
        position:absolute;
        inset:0;

        .img__copy{
            margin-top: 260px;
            
            @include tablet{
                margin-top: 300px;
              
            }
        }
        .hero-content__text {
            @include tablet{
                background-color: rgba(255,255,255,0.7);
                max-width: 450px;
                padding: 30px;
            }
        }
    }

    h1 {
        max-width:8ch;
    }
    .standfirst{
        max-width:14ch;
        margin-bottom: 1rem;
        @include smallmobile{
            max-width:22ch;
        
        }
    }
    .purpose_link {
        margin-top: 8rem;
        margin-bottom: 4rem;
        display: block;
    }
}