#home-hero{
    padding:0;
    overflow:hidden;
    position: static;
    .hero-image-container {
        margin-left: 50vw;
        height: calc(100vh - 182px);
        img {
            margin-top: 70px;
        }
        @include tablet {
            display: none;
        }
    }
    .hero-video-container {
        display: none;
        height: 100vh;
        @include tablet {
            display: block;
        }
        video {
            display: none;
            width: 133vw;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            @include tablet {
                display: block;
            }
        }
    }   
    .hero-content{
        position:absolute;
        inset:0;

        .img__copy{
            margin-top: 260px;
            @include tablet{
                margin-top: 300px;
            }
        }
    }

    h1 {
        max-width:8ch;
    }
    .standfirst{
        max-width:14ch;
        margin-bottom:10rem;

        @include smallmobile{
            max-width:22ch;
            margin-bottom:8rem;
        }

        @include tablet{
            margin-bottom:7rem;
        }
    }
}