.sticky {
	display: block;
}

.entry-header{
	margin-bottom:50px;
	margin-top:50px;

	&.__generic{
		margin-top:30px;
	}
}

.entry-content{
	h3 {
		margin-bottom:2rem;
	}
}

.updated:not(.published) {
	display: none;
}


.page-links {
	clear: both;
	// margin: 0 0 1.5em;
}

@import "home-hero";
@import "home-purpose";
@import "home-vibrant-way";
@import "home-brands";
@import "home-mission";
@import "home-vision";
@import "home-products";

@import "brand-header";
@import "brand-hero";
@import "brand-content";

@import "manufacturing-header";
@import "manufacturing-glance";
@import "manufacturing-suppliers";
@import "manufacturing-technology";
@import "manufacturing-safety";

@import "our-products";

@import "sustainability-targets";

@import "news";

@import "get-in-touch";