.manufacturing-safety{
    margin-top:-50px;

    .parallaxBG{
        left:-242px;
        top:170px;
    }

    p:first-of-type{
        font-weight:600;
    }

    img{
        width:100%;
    }

}