.wrapper{
	width:100%;
	padding: 0 var(--gutter-padding);
	margin: 0 auto;

    &.no-padding{
        padding:0;
    }
}

.inner-wrapper{
    width:100%;
	max-width:var(--inner-width);
	margin: 0 auto;
    padding-left:var(--gutter-padding);
    padding-right:var(--gutter-padding);
    position:relative;

    &.__narrow{
        @include tablet{
            max-width:var(--inner-width-narrow);
        }
    }
}