.wrapper{
	width:100%;
	padding: 0 40px;
	margin: 0 auto;

    &.no-padding{
        padding:0;
    }
}

.inner-wrapper{
    width:100%;
	max-width:1158px;
	margin: 0 auto;
    padding-left:40px;
    padding-right:40px;
    position:relative;

    &.__narrow{
        @include tablet{
            max-width:1078px;
        }
    }
}