$purple: #4A2670;
$red: #E3261F; 
$yellow: #FEBF00;
$blue: #00599D;
$green: #3DAB36;         
$pink: #9B2A54;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: white;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-input: #FFF2CC;

$color__text-screen: black;
$color__text-input: #888888;
$color__text-input-focus: $color__text-screen;
$color__link: $blue;
$color__link-visited: $blue;
$color__link-hover: lighten($blue, 10%);
$color__text-main: black; // 333333

$color__text-button: $color__text-main;
$color__text-button-hover: $color__text-main;
$color__text-button-active: $color__text-main;

$color__border-input: #C7C7C7;
$color__border-abbr: #666;
