:root{
    --inner-width:1158px;
    --inner-width-narrow:1078px;
    --section-padding-top:80px;
    --section-padding-bottom:50px;
    --gutter-padding:40px;
    --margin-large:50px;
    --margin-large--:calc(var(--margin-large) * -1);
    --margin-small:30px;
}